<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wafina- ROCK PAPER SCISSORS</title>
    <!--BOOTSTRAP CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--EXTERNAL CSS-->
    <link rel="stylesheet" href="/css/stylebgk.css">
</head>

<body>
    <header id="background1">

    </header>
    <NAV>
        <div class="logo">
            &#60;
        </div>
        <ul>
            <li><a href=""> <img class="logo1" src="img/logo 1.png"></a></li>
            <li>
                <div class="judul">ROCK PAPER SCISSORS</div>
            </li>

        </ul>
    </NAV>

    <div CLASS="background1">
        <div id="player-title">
            <h1 id="player">PLAYER1</h1>
        </div>
        <div class="player-col">
            <div id="player-paper" class="square">
                <img class="pic " src="img/kertas.png">
            </div>
            <div id="player-rock" class="square">
                <img class="pic" src="img/batu.png">
            </div>
            <div id="player-scissors" class="square">
                <img class="pic" src="img/gunting.png">
            </div>
        </div>

        <div id="c-title">
            <h1 id="computer">COM</h1>
        </div>
        <div class="computer-col">
            <div id="computer-paper" class="c-square">
                <img class="pic" src="img/kertas.png">
            </div>
            <div id="computer-rock" class="c-square">
                <img class="pic" src="img/batu.png">
            </div>
            <div id="computer-scissors" class="c-square">
                <img class="pic" src="img/gunting.png">
            </div>
        </div>
        <div id="vs">VS</div>
        <img id="refresh" class="reload" src="img/refresh.png">
        <div id="popup">
            <h1 id="dwl"></h1>
        </div>

    </div>
    <div class="footer"></div>
    <script src="/public/js/batuguntingkertas.js"></script>
</body>

</html>