<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--BOOTSTRAP CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--EXTERNAL CSS-->
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
    <style>
        .bg-image {
            background-image: url('img/main-bg.jpg');
            background-size: cover;
            position: absolute;
            width: 1441.54px;
            height: 960.09px;
            left: -1.55px;
            top: 0px;
        }

        .rectangle1 {
            position: absolute;
            width: 1441.55px;
            height: 960.14px;
            left: -1.55px;
            top: 0.11px;
            background: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%);
        }

        .ag {
            background-image: url('img/the-games-bg.jpg');
            background-size: cover;
            position: absolute;
            width: 1441.99px;
            height: 1048.11px;
            left: 0px;
            top: 960.05px;
        }

        .features {
            background-image: url('img/features.jpg');
            background-size: cover;
            position: absolute;
            width: 1441.48px;
            height: 871.97px;
            left: 0px;
            top: 2004px;
            border: none;

        }

        .req {
            background-image: url('img/requirements.png');
            background-size: cover;
            position: absolute;
            width: 1441.48px;
            height: 961.13px;
            left: -2px;
            top: 2868px;
        }

        .quotes {
            background-image: url('img/top-score-bg.png');
            background-size: cover;
            position: absolute;
            width: 1441.48px;
            height: 961.13px;
            left: -1.2px;
            top: 3820px;
        }

        .footer {
            position: absolute;
            width: 1441.48px;
            height: 961.13px;
            left: 0px;
            top: 4780.13px;

            background: #080A0B;

        }
    </style>
</head>

<body>
    <!--Header-->
    <header class="bg-image ">
        <div class="rectangle1 ">
            <h1 class="h1">PLAY TRADITIONAL GAME</h1>
            <h3 class="h3">Experience new traditional game play </h3>
            <button type="button " class="btn btn-primary btn-lg">PLAY NOW</button>
            <a class="button1" href="#">THE STORY</a>
            <a class="scroll" href="#"><img src="img/scrolldwon.png"></a>
    </header>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light bg-transparent fixed-top" id="navigation">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">LOGO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link " href="#">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">WORK</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CONTACT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ABOUT ME</a>
                    </li>
                </ul>

                <li class="d-flex ">
                    <a class="nav-link" href="#" style="color: white">SIGN UP</a>
                </li>
                <li class="d-flex ">
                    <a class="nav-link" href="#" style="color: white">LOGIN</a>
                </li>
            </div>
        </div>
    </nav>

    <!--ABOUT & GALLERY-->
    <div class="ag">
        <img class="ractangle2">
        <img class="ractangle3">
        <a class="SWITCH-L" href="#"><img src="img/scrolldwon.png"></a>
        <a class="SWITCH-R" href="#"><img src="img/scrolldwon.png"></a>
        <h3 class="ag-text">What's so special ?</h3>
        <h1 class="ag-text1">THE GAME</h1>
        <img class="slide" src="img/rockpaperstrategy-1600.jpg"></a>
        <img class="dot1" src="img/dot1.png"></a>
        <img class="dot2" src="img/dot2.png"></a>
        <img class="dot3" src="img/dot2.png"></a>
        <img class="dot4" src="img/dot2.png"></a>
        <img class="dot5" src="img/dot2.png"></a>
    </div>
    <!--FEATURES-->
    <div class="features">
        <img class="vector">
        <img class="R1">
        <h3 class="ft-text">What's so special ?</h3>
        <h1 class="ft-text1">FEATURES</h1>

        <div class="ft-1">TRADITIONAL GAMES</div>
        <div class="ft-2">if you miss your childhood, we provide many traditional games here</div>
        <div class="ft-3">GAME SUIT</div>
        <div class="ft-4">TBD</div>
        <img class="dot-ft" src="img/dot1.png"></a>
        <img class="p-bar" src="img/p-bar.png"></a>
        <img class="dot2-ft" src="img/dot2.png"></a>
        <img class="dot3-ft" src="img/dot2.png"></a>
    </div>
    <!--REQUIREMENT-->
    <div class="req">
        <img class="rr1">
        <h1 class="r-text2">system requirements</h1>
        <h3 class="r-text1">Can My Computer Run this game?</h3>
        <img class="kotak" src="img/kotak.png"></a>
        <img class="garis1" src="img/garis1.png"></a>
        <img class="garis2" src="img/garis2.png"></a>
        <img class="garis3" src="img/garis3.png"></a>
        <div class="rt1">OS</div>
        <div class="rt2">PROCESSOR</div>
        <div class="rt3">MEMORY</div>
        <div class="rt4">Storage</div>
        <div class="rt5">Graphic</div>
        <div class="des1">Windows 7 64-bit only
            (No OSX support at this time)
        </div>
        <div class="des2">
            Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ
        </div>
        <div class="des3">
            4 GB RAM
        </div>
        <div class="des4">
            8 GB available space
        </div>
        <div class="des5">
            NVIDIA GeForce GTX 660 2GB or
            AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)
        </div>
    </div>

    <!--QUOTES-->
    <div class="quotes">
        <img class="qr1">
        <h3 class="q-text2">This top score from various games provided on this platform</h3>
        <h1 class="q-text1">TOP SCORES</h1>
        <button type="button " class="q-btn">seemore</button>
        <img class="q-r1" src="img/kotakquote.png"></a>
        <img class="q-r2" src="img/kotakquote.png"></a>
        <img class="q-r3" src="img/kotakquote.png"></a>
        <img class="img1" src="img/img1.jpg"></a>
        <img class="img2" src="img/img2.jpg"></a>
        <img class="img3" src="img/img3.jpg"></a>
        <div class="nama1">Evan Lahti</div>
        <div class="nama2">Jada Griffin </div>
        <div class="nama3">Aaron Williams </div>
        <div class="ket1">PC Gamer</div>
        <div class="ket2">Nerdreactor</div>
        <div class="ket3">Uproxx </div>
        <div class="q-des1">“One of my gaming highlights of the year.”</div>
        <div class="q-des2">“The next big thing in the world of streaming and survival games.”
        </div>
        <div class="q-des3">“Snoop Dogg Playing The Wildly Entertaining SOS Is Ridiculous.”</div>
        <div class="tgl1">June 18, 2021</div>
        <div class="tgl2">July 10, 2021</div>
        <div class="tgl3">December 24, 2018 </div>
        <img class="twt1" src="img/twitter-card.png"></a>
        <img class="twt2" src="img/twitter-card.png"></a>
        <img class="twt3" src="img/twitter-card.png"></a>
    </div>

    <!--FOOTER-->
    <div class="footer">
        <img class="rf1">
        <img class="f-img1" src="img/skull.png"></a>
        <h3 class="f-h3">Want to stay in touch?</h3>
        <h1 class="f-h1">newsletter SUBSCRIBE </h1>
        <div class="f-text1">In order to start receiving our news, all you have to do is enter your email address.
            Everything else will be taken care of by us. We will send you emails containing information about game. We
            don't spam.</div>
            <img class="f-btn1" src="img/kotakf.png"></a>
            <div class="email">Your email address</div>
            <div class="email1">youremail@binar.co.id</div>
            <a class="btton1" href="#">MAIN</a>
            <a class="button2" href="#">ABOUT</a>
            <a class="button3" href="#">GAME FEATURES</a>
            <a class="button4" href="#">System requirements</a>
            <a class="button5" href="#">qUOTES</a>
            <a class="button5" href="#"><img class="fb" src="img/fb.png"></a>
            <img class="border-img" src="img/border.png"></a>
           
            <a class="privacy" href="#"> Privacy Policy | Terms of Services | Code of Conduct </a>
            <div class="made" >© 2018 Your Games, Inc. All Rights Reserved</div>
        </div>

    <!--bootsrap 5 js-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!--Jquery cdn link-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
        integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- <script>
        var nav = document.querySelector('nav');
        window.addEventListener('scroll', function () {
            if (window.pageYOffset > 0) {
                nav.classList.add('bg-dark', 'shadow');
            } else {
                nav.classList.remove('bg-dark');

            }
        }
        )

    </script>-->
</body>

</html>